/* GLOBAL */

a {
  color: lightblue;
  text-decoration: none;
}

a:hover,
a:visited,
a:active {
  cursor: pointer;
  text-decoration: underline;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  touch-action: manipulation;
}

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: black;
  color: white;
  font-size: 140%;
}

button {
  cursor: pointer;
}

button:hover:not(:disabled),
button:active:not(:disabled) {
  opacity: 0.9;
}

button:disabled {
  background: rgb(151, 151, 151);
  color: rgb(42, 42, 42);
}

button,
input,
select,
textarea {
  padding: 8px 12px;
  font-size: inherit;
  font-family: inherit;
  border: none;
  color: black;
  background: #efefef;
  border-radius: 4px;
}

input.error {
  background: #a04949;
  color: white;
}

/* UTIL */

.button-group {
  display: flex;
  gap: 8px;
}

.center {
  text-align: center;
}

.small {
  font-size: 80%;
}

.huge {
  font-size: 200%;
}

.no-wrap {
  white-space: nowrap;
}

.screenreader-only {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.form-group:not(:last-child) {
  margin-bottom: 20px;
}

.form-group {
  padding: 4px;
}

.form-group > label {
  display: block;
  margin-bottom: 4px;
}

.form-group > input {
  width: 100%;
}

.notice {
  font-size: 75%;
  color: white;
  background: #555;
  border-radius: 15px;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
}

/* APP */

.app {
  padding: 15px;
  margin-bottom: 100px;
}

/* SCROLL CONTROL */

.scroll-control {
  position: fixed;
  pointer-events: none;
  bottom: 10px;
  right: 10px;
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 5px;
  transition: opacity 300ms ease;
}

.scroll-control--extra-visible {
  opacity: 1;
  pointer-events: auto;
}

.scroll-control__button {
  background: black;
  color: white;
  border: 1px solid white;
  font-size: 90%;
  pointer-events: auto;
}

.scroll-control__show-extra {
  color: white;
  background: transparent;
  border: none;
  padding-left: 23px;
  padding-right: 23px;
  margin-bottom: -5px;
  transition: transform 250ms ease;
  pointer-events: auto;
}

.scroll-control__show-extra--upside-down {
  margin-bottom: 0;
  margin-top: -5px;
  transform: rotate(180deg);
}

.scroll-control__extra {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  transform: translateY(300px);
  transition: transform 250ms ease;
}

.scroll-control__extra--visible {
  transform: translateY(0);
}

/* MODAL */

.modal {
  inset: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal__dialog {
  box-shadow: 0px 0px 1px;
  border-radius: 8px;
  background: black;
  width: auto;
  min-width: min(500px, 90%);
  max-width: 90%;
  max-height: 90%;
  height: auto;
  margin: 4px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'content'
    'footer';
}

.modal__header,
.modal__footer,
.modal__content {
  padding: 16px;
}

.modal__header {
  grid-area: header;
}

.modal__content {
  grid-area: content;
  overscroll-behavior-block: contain;
  overflow-y: auto;
}

.modal__footer {
  grid-area: footer;
}

/* LOAD COUNT CONTROL */

.load-count-control {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
  gap: 8px;
}

.load-count-control__left {
  text-align: right;
}

.load-count-control__right {
  text-align: left;
}

/* CHAPTER */

.chapter {
  padding-top: 0.5rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

/* CURRENT CHAPTER CONTROL */

.current-chapter-control {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.current-chapter-control__input {
  text-align: center;
}

/* RECENT NOVELS */

.recent-novels {
  margin-bottom: 8px;
  margin: 8px;
}

.recent-novels__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 500px;
  margin: auto;
  padding-left: 8px;
  padding-right: 8px;
}

.recent-novels__list-item {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: 12px;
  padding: 16px;
  border-radius: 8px;
  background: #333;
  cursor: pointer;
}

.recent-novels__list-item:hover,
.recent-novels__list-item:active,
.recent-novels__list-item:focus-visible {
  background: #555;
}

.recent-novels__chapter {
  font-style: italic;
  font-size: 70%;
}

.recent-novels__remove {
  transition: transform 500ms;
}

.recent-novels__remove:hover,
.recent-novels__remove:active,
.recent-novels__remove:focus-visible {
  transform: scale(1.4);
}
