/* GLOBAL */

a {
  color: lightblue;
  text-decoration: none;
}

a:hover,
a:visited,
a:active {
  cursor: pointer;
  text-decoration: underline;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  touch-action: manipulation;
}

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: black;
  color: white;
  font-size: 18px;
  --space-1: 6px;
  --space-2: 10px;
  --space-3: 16px;
}

button, .button {
  cursor: pointer;
}

.button.selected, button.selected {
  border: 2px solid black;
  box-shadow: 0 0 0 2px lightblue;
  pointer-events: none;
  opacity: 0.9;
}

.button:hover:not(:disabled),
.button:active:not(:disabled),
button:hover:not(:disabled),
button:active:not(:disabled) {
  opacity: 0.9;
}

.button:disabled, button:disabled, input:disabled {
  background: rgb(151, 151, 151);
  color: rgb(42, 42, 42);
}

input.error, button.error {
  background: #a04949;
  color: white;
}

button,
input,
select,
textarea,
.button {
  padding: var(--space-1) var(--space-2);
  font-size: inherit;
  font-family: inherit;
  border: none;
  color: black;
  background: #efefef;
  border-radius: 4px;
}

a.button {
  text-decoration: none;
}

/* UTIL */

.button-group {
  display: flex;
  gap: var(--space-1);
}

.center {
  text-align: center;
}

.small {
  font-size: 80%;
}

.large {
  font-size: 130%;
}

.huge {
  font-size: 200%;
}

.no-wrap {
  white-space: nowrap;
}

.screenreader-only {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.form-group:not(:last-child) {
  margin-bottom: var(--space-1);
}

.form-group {
  padding: var(--space-1);
}

.form-group > label {
  display: block;
  margin-bottom: var(--space-1);
}

.form-group > input, .form-group textarea {
  width: 100%;
}

.notice {
  font-size: 75%;
  color: white;
  background: #555;
  border-radius: var(--space-3);
  padding: var(--space-1);
  padding-left: var(--space-3);
  padding-right: var(--space-3);
  display: inline-block;
}

/* APP */

.app {
  padding: var(--space-3);
  margin-bottom: 100px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.app__home-button {
  margin-left: -56px;
  margin-right: 10px;
}

/** NAV **/

.nav {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--space-1);
  align-items: center;
  margin-bottom: var(--space-3);
}

.nav__title {
  font-size: 120%;
}

.nav__actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-1);
  justify-content: right;
}

/* SCROLL CONTROL */

.scroll-control {
  position: fixed;
  pointer-events: none;
  bottom: var(--space-2);
  right: var(--space-2);
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: var(--space-1);
  transition: opacity 300ms ease;
}

.scroll-control--extra-visible {
  opacity: 1;
  pointer-events: auto;
}

.scroll-control__button {
  background: black;
  color: white;
  border: 1px solid white;
  font-size: 90%;
  pointer-events: auto;
}

.scroll-control__show-extra {
  color: white;
  background: transparent;
  border: none;
  padding-right: 18px;
  margin-bottom: -10px;
  transition: transform 250ms ease;
  pointer-events: auto;
}

.scroll-control__show-extra--upside-down {
  margin-bottom: 0;
  margin-top: -5px;
  transform: rotate(180deg);
}

.scroll-control__extra {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  position: relative;
  transform: translateY(300px);
  transition: transform 250ms ease;
}

.scroll-control__extra--visible {
  transform: translateY(0);
}

/* MODAL */

.modal {
  inset: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal__dialog {
  box-shadow: 0px 0px 1px;
  border-radius: var(--space-1);
  background: black;
  width: auto;
  min-width: min(500px, 90%);
  max-width: 90%;
  max-height: 90%;
  height: auto;
  margin: var(--space-1);
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'content'
    'footer';
}

.modal__header,
.modal__footer,
.modal__content {
  padding: var(--space-2);
}

.modal__header {
  grid-area: header;
}

.modal__content {
  grid-area: content;
  overscroll-behavior-block: contain;
  overflow-y: auto;
}

.modal__footer {
  grid-area: footer;
}

/* help me write a script and cron job that uses the `battery maintain [number]` command to keep the battery between 65% and 75%, the current maintain percentage can be read from "$HOME/.battery/maintain.percentage", only call `battery maintain` if the current setting differs */

/* CHAPTER */

.chapter {
  padding-top: 0.5rem;
  margin-bottom: 2rem;
  font-size: 120%;
}

/* CURRENT CHAPTER CONTROL */

.current-chapter-control {
  display: flex;
  gap: var(--space-1);
  justify-content: center;
}

.current-chapter-control__input {
  text-align: center;
  min-width: 75px;
  max-width: 90px;
  padding-left: 0;
  padding-right: 0;
}

/* RECENT NOVELS */

.recent-novels {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  margin: auto;
}

.recent-novels__list-item {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: var(--space-3);
  padding: var(--space-2);
  border-radius: var(--space-1);
  background: #333;
  cursor: pointer;
}

.recent-novels__list-item:hover,
.recent-novels__list-item:active,
.recent-novels__list-item:focus-visible {
  background: #555;
}

.recent-novels__chapter {
  font-style: italic;
  font-size: 70%;
}

.recent-novels__remove {
  transition: transform 500ms;
}

.recent-novels__remove:hover,
.recent-novels__remove:active,
.recent-novels__remove:focus-visible {
  transform: scale(1.4);
}
