.app {
  padding: 15px;
  margin-bottom: 100px;
}

a {
  color: lightblue;
  text-decoration: none;
}

a:hover,
a:visited,
a:active {
  text-decoration: underline;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  touch-action: manipulation;
}

html {
  font-family: sans-serif;
  background: black;
  color: white;
  font-size: 140%;
}

button {
  cursor: pointer;
}

button, input, label, code {
  margin: 4px;
}

button,
input, select {
  padding: 8px 12px;
  font-size: inherit;
  font-family: inherit;
  border: none;
  color: black;
  background: #efefef;
  border-radius: 4px;
}

input.error {
  background: #a04949;
  color: white;
}

.center {
  text-align: center;
}

.next-chapter-action {
  position: fixed;
  bottom: 10px;
  right: 10px;
  opacity: 0.4;
  background: black;
  color: white;
  border: 1px solid white;
}

.small {
  font-size: 80%;
}

.huge {
  font-size: 200%;
}

.chapter {
  padding-top: .5rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.no-wrap {
  white-space: nowrap;
}

.screenreader-only {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.modal-overlay {
  inset: 0;
  position: fixed;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  box-shadow: 0px 0px 3px;
  background: black;
  width: auto;
  height: auto;
  overflow: auto;
  margin: 4px;
  padding: 20px;
}

.form-group:not(:last-child) {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
}