/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
}

/* GLOBAL */
a {
  color: var(--color-accent);
  text-decoration: none;
}

a:hover,
a:visited,
a:active {
  cursor: pointer;
  text-decoration: underline;
}

body,
html {
  margin: 0;
  padding: 0;
  touch-action: manipulation;
}

html {
  font-family: sans-serif;
  background: var(--color-bg);
  color: var(--color-text);
  font-size: 18px;

  --border-1: 0.06em;
  --border-2: 0.1em;

  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.5rem;
  --space-6: 2rem;
  --space-7: 3rem;
  --space-8: 4rem;

  --color-bg: black;
  --color-text: white;
  --color-surface: #222;
  --color-muted: #444;
  --color-accent: rgb(173, 216, 230);
  --color-interactive: #efefef;
  --color-interactive-text: black;
  --color-disabled: rgb(151, 151, 151);
  --color-disabled-text: rgb(42, 42, 42);
  --color-error: #a04949;
}

html.light-theme {
  --color-bg: white;
  --color-text: black;
  --color-surface: #f0f0f0;
  --color-muted: #eee;
  --color-accent: darkblue;
  --color-interactive: #e0e0e0;
  --color-interactive-text: black;
  --color-disabled: rgb(200, 200, 200);
  --color-disabled-text: rgb(100, 100, 100);
  --color-error: #ff4444;
}

button,
.button {
  cursor: pointer;
}

.button.selected,
button.selected {
  border: var(--border-2) solid var(--color-bg);
  box-shadow: 0 0 0 var(--border-2) var(--color-accent);
  pointer-events: none;
  opacity: 0.7;
}

.button:hover:not(:disabled),
.button:active:not(:disabled),
button:hover:not(:disabled),
button:active:not(:disabled) {
  opacity: 0.8;
}

.button:disabled,
button:disabled,
input:disabled {
  background: var(--color-disabled);
  color: var(--color-disabled-text);
}

input.error,
button.error {
  background: var(--color-error);
  color: var(--color-text);
}

button,
input,
select,
textarea,
.button {
  padding: var(--space-1) var(--space-2);
  font-size: inherit;
  font-family: inherit;
  border: none;
  color: var(--color-interactive-text);
  background: var(--color-interactive);
  border-radius: var(--space-1);
}

a.button {
  text-decoration: none;
}

.text-area {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

/* UTIL */

.button-group {
  display: flex;
  gap: var(--space-1);
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.overflow-hidden {
  overflow: hidden;
}

.text-small {
  font-size: 80%;
}

.text-large {
  font-size: 130%;
}

.text-huge {
  font-size: 200%;
}

.no-wrap {
  white-space: nowrap;
}

.screenreader-only {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.form-group:not(:last-child) {
  margin-bottom: var(--space-1);
}

.form-group {
  padding: var(--space-1);
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.form-group > input,
.form-group textarea {
  width: 100%;
}

.notice {
  font-size: 0.75em;
  color: var(--color-text);
  background-color: var(--color-muted);
  border-radius: var(--space-2);
  padding: var(--space-1) var(--space-2);
  display: inline-block;
}

.icon {
  height: 22px;
  width: 22px;
  vertical-align: middle;
}

/* APP */

.app {
  padding: var(--space-4);
  margin-bottom: 100px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

.app__home-button {
  margin-left: -56px;
  margin-right: 10px;
}

/** NAV **/

.nav {
  top: 1em;
  background: var(--color-bg);
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--space-1);
  align-items: center;
  padding: var(--space-2);
}

.nav--sticky {
  position: sticky;
  top: -150px;
  left: 0;
  right: 0;
  transition:
    top 300ms,
    opacity 300ms;
  border-radius: var(--space-2);
  opacity: 0.8;
}

.nav--sticky:hover,
.nav--sticky:focus-within,
.nav--sticky:active {
  opacity: 1;
}

.nav--sticky-visible {
  top: var(--space-4);
  border: var(--border-1) solid var(--color-text);
}

.nav__title {
  font-size: 120%;
}

.nav__subtitle {
  white-space: nowrap;
  color: var(--color-accent);
}

.nav__actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-1);
  justify-content: right;
}

/* SCROLL CONTROL */

.scroll-control {
  position: fixed;
  pointer-events: none;
  bottom: var(--space-2);
  right: var(--space-2);
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: var(--space-1);
  transition: opacity 300ms ease;
}

.scroll-control--extra-visible {
  opacity: 1;
  pointer-events: auto;
}

.scroll-control__button {
  background: var(--color-bg);
  color: var(--color-text);
  border: var(--border-1) solid var(--color-text);
  font-size: 90%;
  pointer-events: auto;
  display: flex;
  align-items: center;
  gap: 4px;
}

.scroll-control__button:hover,
.scroll-control__button:focus-visible,
.scroll-control__button:active {
  background: var(--color-muted);
  opacity: 1 !important;
}

.scroll-control__show-extra {
  color: var(--color-text);
  background: transparent;
  border: none;
  padding-right: 18px;
  margin-bottom: -10px;
  transition: transform 250ms ease;
  pointer-events: auto;
}

.scroll-control__show-extra--upside-down {
  margin-bottom: 0;
  margin-top: -5px;
  transform: rotate(180deg);
}

.scroll-control__extra {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  position: relative;
  transform: translateY(300px);
  transition: transform 250ms ease;
}

.scroll-control__extra--visible {
  transform: translateY(0);
}

/* MODAL */

.modal {
  inset: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal__dialog {
  box-shadow: 0px 0px 1px;
  border-radius: var(--space-1);
  background: var(--color-bg);
  width: auto;
  min-width: min(500px, 90%);
  max-width: 90%;
  max-height: 90%;
  height: auto;
  margin: var(--space-1);
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'content'
    'footer';
}

.modal__header,
.modal__footer,
.modal__content {
  padding: var(--space-2);
}

.modal__header {
  grid-area: header;
}

.modal__content {
  grid-area: content;
  overscroll-behavior-block: contain;
  overflow-y: auto;
}

.modal__footer {
  grid-area: footer;
}

/* CHAPTER */

.chapter {
  font-size: 120%;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

/* CURRENT CHAPTER CONTROL */

.current-chapter-control {
  display: flex;
  gap: var(--space-1);
  justify-content: center;
}

.current-chapter-control__input {
  text-align: center;
  min-width: 75px;
  max-width: 90px;
  padding-left: 0;
  padding-right: 0;
}

/* RECENT NOVELS */

.recent-novels {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.recent-novels__list-item {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: var(--space-3);
  padding: var(--space-2);
  border-radius: var(--space-1);
  background: var(--color-muted);
  cursor: pointer;
}

.recent-novels__list-item:hover,
.recent-novels__list-item:active,
.recent-novels__list-item:focus-visible {
  opacity: 0.9;
}

.recent-novels__chapter {
  font-style: italic;
  font-size: 70%;
}

.recent-novels__remove {
  transition: transform 500ms;
}

.recent-novels__remove:hover,
.recent-novels__remove:active,
.recent-novels__remove:focus-visible {
  transform: scale(1.4);
}
